# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.dmg

# CppCheck
cppCheck/cppcheck-cppcheck-build-dir
*.cppcheck
cppCheck/cppcheck_result1.xml
cppCheck/cppcheck_result2.xml

# Build output
Builds
JuceLibraryCode